In [1]:
a=10

In [2]:
a='c'

In [3]:
type(a)

str

In [4]:
int()

0

In [5]:
int

int

In [7]:
#If I do not give any argument it returns 0
int()

0

In [8]:
int('123')

123

In [9]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [1]:
print("Hello World")

Hello World

In [2]:
print(123)

123

In [4]:
age=32
print("My age is:",age)

My age is: 32

F String

In [3]:
#f string in python. To consider what is written in anagular braces
print(f"My age is: {age}")

My age is: 32

Format

In [7]:
name="Krish"
age=32
print("My name is {} and {}". format(name,age))

My name is Krish and 32

In [8]:
#Sequence is important 
print("My name is {} and {}". format(age,name))

My name is 32 and Krish

In [9]:
#Plance holder
print("My name is {firstname} and {firstage}". format(firstname=name,firstage=age))

My name is Krish and 32

In [1]:
name="Krish Nair"
age=32
degree="BE"
#Print this output : My age is: 32 and I have completed :my degree of BE with the name of Krish Nair 

print(f"My age is: {age} and I have completed :my degree of {degree} with the name of {name} ")

My age is: 32 and I have completed :my degree of BE with the name of Krish Nair

In [4]:
print("My age is:{userage} and I have completed :my degree of {userdegree} with the name of {username}" .format(userage=age,userdegree=degree,username=name) )

My age is:32 and I have completed :my degree of BE with the name of Krish Nair

## Control Flow
### Decision Making Statements

 4.1 Decision Making Statement
It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
Structure of decision making evaluate several expressions that provide True or False as a result.
It is up to you to decide which type of action want to take and execute the statements based upon True and False.
These are several topics of decision making which going to be discussed below:

1.if
2.if else
3.if elif else
4.Nested if
5.Single Statement Suites

In [4]:
##If Statement
age=18
if age>=18: 
    print("You are eligible to vote")

You are eligible to vote

Condition : ==    <=    =<

In [1]:
##If Statement
age=18
if age<18: 
    print("You are not eligible to vote")

In [3]:
##If Statement
age=17
if age<18: 
    print("You are not eligible to vote")

You are not eligible to vote

In [4]:
17<18

True

In [5]:
19<18

False

In [6]:
18<=18

True

In [10]:
#Input Function - Executing Input shows the prompt
input()

 Krish Naik

'Krish Naik'

In [11]:
name=input("Enter the Name: ")

Enter the Name:  Krish NAik

In [12]:
name

'Krish NAik'

In [13]:
age=int(input("Enter your Age: "))

Enter your Age:  32

In [14]:
age

32

In [15]:
type(age)

int

In [4]:
#Task
age=int(input("Enter your Age: "))
if(age>=18 and age<=45):
    print("You are Young Blood")

Enter your Age:  22

You are Young Blood

In [3]:
#Task
age=int(input("Enter your Age: "))
if(age>=18 and age<=45):
    print("You are Young Blood")

Enter your Age:  48

In [6]:
#if else statements:
age=int(input("Enter your Age: "))
if(age>=18 and age<=45):
    print("You are Young Blood")
else:
    print("Thank you.We will let you know")

Enter your Age:  17

Thank you.We will let you know

In [ ]:
## Assignment: 
## Mall. Input the product price. 
## If Product >1000 rs then when you buy a product you get 20% off
## Print the product price after removing the discount
## if Product <=1000 rs then 30% off
## Print the product price after removing the discount

In [4]:
product_price=int(input("Enter the Product Price: Rs  "))
if(product_price>1000):
     print("The price of the product is : Rs {}".format(product_price -0.2*product_price))
else : 
     print("The price of the product is : Rs {} ".format(0.7*product_price))

Enter the Product Price: Rs   1200

The price of the product is : Rs 960.0

In [ ]:
## Assignment: 
## Mall. Input the product price. 
## If Product >3000 rs then when you buy a product you get 20% off
## Print the product price after removing the discount
## if Product >=2000 rs and <=3000 then 30% off
## Print the product price after removing the discount
## if Product >=1000 rs and <=33000 then 40% off
## Print the product price after removing the discount

In [1]:
product_price=int(input("Enter the Product Price: Rs  "))
if(product_price>=3000):
     print("The price of the product is : Rs {}".format(0.8*product_price))
elif(product_price>=2000 and product_price<3000 ) : 
     print("The price of the product is : Rs {} ".format(0.7*product_price))
elif(product_price>=1000 and product_price<2000 ) : 
     print("The price of the product is : Rs {} ".format(0.6*product_price))

Enter the Product Price: Rs   2500

The price of the product is : Rs 1750.0

In [2]:
product_price=int(input("Enter the Product Price: Rs  "))
if(product_price>3000):
     print("The price of the product is : Rs {}".format(0.8*product_price))
elif(product_price>=2000 and product_price<=3000 ) : 
     print("The price of the product is : Rs {} ".format(0.7*product_price))
elif(product_price>=100 and product_price<=2000 ) : 
     print("The price of the product is : Rs {} ".format(0.6*product_price))
else:
     print("Lets Drink Tea.")

Enter the Product Price: Rs   55

Lets Drink Tea.

In [ ]:
## Include special price . If price==2999 you will get additional gift

In [3]:
## Nested If
product_price=int(input("Enter the Product Price: Rs  "))
if(product_price>3000):
     print("The price of the product is : Rs {}".format(0.8*product_price))
elif(product_price>=2000 and product_price<=3000 ) : 
     if (product_price==2999):
             print("Congratulations. you have got an additional gift.")
     print("The price of the product is : Rs {} ".format(0.7*product_price))
elif(product_price>=100 and product_price<=2000 ) : 
     print("The price of the product is : Rs {} ".format(0.6*product_price))
else:
     print("Lets Drink Tea.")

Enter the Product Price: Rs   2999

Congratulations. you have got an additional gift.
The price of the product is : Rs 2099.2999999999997

In [1]:
## If price=4000 you get a trip to goa

In [4]:
## Nested If
product_price=int(input("Enter the Product Price: Rs  "))
if(product_price>3000):
     if (product_price==4000):
             print("Congratulations. you get a trip to goa.")
     print("The price of the product is : Rs {}".format(0.8*product_price))
elif(product_price>=2000 and product_price<=3000 ) : 
     if (product_price==2999):
             print("Congratulations. you have got an additional gift.")
     print("The price of the product is : Rs {} ".format(0.7*product_price))
elif(product_price>=100 and product_price<=2000 ) : 
     print("The price of the product is : Rs {} ".format(0.6*product_price))
else:
     print("Lets Drink Tea.")

Enter the Product Price: Rs   4000

Congratulations. you get a trip to goa.
The price of the product is : Rs 3200.0

In [8]:
##Comparison Operator
True==True

True

In [3]:
#Single Statement
val=int(input('Enter the Number: ')) 
if (val<=999): print("Value is less than equal to 999")
else: 
    print("Go Home")

Enter the Number:  400

Value is less than equal to 999

In [ ]:
#1:36:00